* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  background-color: rgb(233, 233, 233);
}

#navbar {
  list-style-type: none;
}

#navbar>ul>li {
  display: inline-block;
  position: relative;
}

.link-index {
  display: block;
  text-decoration: none;
  font-size: 25px;
  padding: 0 24px;
  line-height: 46px;
  color: rgb(83, 83, 83);
}

.nav-item:hover {
  background-color: rgb(211, 211, 211);
}

.link-albums {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.link-albums:hover {
  color: red;
}